  <section id="carousel">
    <div id="carousel-home" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner " role="listbox">
        <div class="carousel-item active">
          <img class="slide-image" src="images/woman-camera.jpg" alt="Woman taking picture with a camera">
	  <div class="slide-text slide_style_left">
              <h1 data-animation="animated zoomInRight">Bootstrap Carousel</h1>
              <p data-animation="animated fadeInLeft">asfdsf gfdsfgdf  gdfgdfgfds dsfgdfg</p>
              <a href="#" class="btn btn-secondary" data-animation="animated fadeInLeft">select one</a>
              <a href="#"  class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
          </div>
	
        </div>
        <div class="carousel-item">
          <img class="slide-image" src="images/spiderweb.jpg" alt="A wet spiderweb">
	  <div class="slide-text slide_style_center">
             <h1 data-animation="animated flipInX">Bootstrap touch slider</h1>
             <p data-animation="animated lightSpeedIn">asdfdsaf sfsdafds asdfsdfgds sfdfsdfsdf</p>
             <a href="#" class="btn btn-secondary" data-animation="animated fadeInUp">select one</a>
             <a href="#" class="btn btn-primary" data-animation="animated fadeInDown">select two</a>
          </div>
        </div>

        <div class="carousel-item">
          <img class="slide-image" src="images/hearthand.jpg" alt="Two hands making a heart">
	 <div class="slide-text slide_style_right">
             <h1 data-animation="animated zoomInLeft">Beautiful Animations</h1>
             <p data-animation="animated fadeInRight">Lots of css3 Animations to make slide beautiful .</p>
             <a href="#" class="btn btn-secondary" data-animation="animated fadeInLeft">select one</a>
             <a href="#" class="btn btn-primary" data-animation="animated fadeInRight">select two</a>
        </div>
      </div>
    </div>

      <a class="left carousel-control" href="#carousel-home" role="button" data-slide="prev">
              <span class="icon-prev" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
      <a class="right carousel-control" href="#carousel-home" role="button" data-slide="next">
              <span class="icon-next" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
    </div>
  </section>