  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="images/woman-camera.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>A woman with a camera</h3>
          <p>She is probably taking a picture</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/spiderweb.jpg" alt="Second slide">
        <div class="carousel-caption">
          <h3>Down came the rain</h3>
          <p>And washed the spider out</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="images/hearthand.jpg" alt="Third slide">
        <div class="carousel-caption">
          <h3>Making love</h3>
          <p>With their hands...</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

